<!DOCTYPE html>
<html lang="ja">
  {{ partial "header" . }}
  <body>
    <div id="main">
      {{ partial "site-header" . }}
      <div class="contents">
      {{ block "main" . }}
        <!-- ここに各ページの内容がはいる -->
      {{ end }}
      </div>
    </div>
  {{ partial "footer" . }}
  <script src="https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.min.js"></script>
  <script>
    mermaid.initialize({startOnLoad: true, fontFamily: "sans-serif", theme: "dark", sequence: {height: 40, mirrorActors: false}});
  </script>
  </body>
</html>